main {
    display: flex;
    flex-direction: row;
}

#heroImg {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#heroImg img {
    border-radius: 80px;
    width: 85%;
    padding: 50px;
}

#heroText {
    width: 50%;
    font-family: "Open Sans";
    flex-wrap: wrap;
    padding: 50px;
    font-size: 17.5px;
}

#heroText a {
    color: #121212;
}

@media screen and (max-width: 800px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    #heroText {
        width: 90%;
        margin-bottom: 15px;
    }

    #heroImg {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #heroImg img {
        margin: 0;
        padding: 30px;
        justify-self: center;
        align-self: center;
        margin-bottom: -50px;
        margin-top: 15px;
    }
}