:root {
    --font-size-p: 17px;
    --font-size-h1: 50px;
    --font-size-h2: 35px;
    --font-family-h: "Raleway";
    --font-family-p: "Open Sans";
    --font-color-h: rgb(34, 11, 136) ;
    --font-color-a: rgba(25, 6, 134, 0.556);
    -webkit-tap-highlight-color: transparent;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    font-family: var(--font-family-p);
    margin: 50px 0 50px 0;
}

article {
    width: 50%;
    padding: 50px;
    border: 0px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(41, 41, 41, 0.199);
    overflow-wrap: break-word;
    word-wrap: break-word;
}

article h1 {
    font-family: var(--font-family-h);
    font-size: var(--font-size-h1);
    color: var(--font-color-h);
    transition: color 1s;
    margin-top: 10px;
}

article h1:hover {
    color: rgb(207, 178, 10);
}

article h2,h3 {
    font-family: var(--font-family-h);
    font-size: var(--font-size-h2);
    margin: 40px 0 40px 0;
}

article p {
    font-size: var(--font-size-p);
    margin: 0 0 35px 0;
    line-height: 1.7;
}

article a, aside a {
    color: var(--font-color-a);
    text-decoration: none;
    font-weight: bold;
    transition: all 500ms;
}


article a:hover, aside a:hover {
    color: rgb(106, 55, 247);
    text-decoration: underline;
}

article #meta {
    margin: -20px 0 70px 0;
    color: rgba(22, 22, 22, 0.489);
}

aside {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 5px;
}

aside > * {
    padding: 30px;
    border: 0px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    height: fit-content;
    box-shadow: 0px 0px 20px rgba(41, 41, 41, 0.199);
}

.pseudoHeading {
    font-family: var(--font-family-h);
    font-size: 22px;
    text-align: center;
}

aside a {
    line-height: 32px;
}

aside .recs {
    padding: 0;
    height: max-content;
}

aside .recs img {
    display: block;
    width: 100%;
    border-radius: 5px;
    transition: all 700ms;
}

aside .recs img:hover{
    filter: saturate(1.9) brightness(0.8);
}

@media screen and (max-width: 800px) {
    :root {
        --font-size-h1: 40px;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    main > * {
        width: 90%;

    }

    aside #toc {
        display: none;
    }
}