aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 10% 20px 10%;
}

aside h1 {
    font-family: "Raleway";
    font-size: 40px;
    color: rgb(34, 11, 136);
    transition: color 500ms ease-in-out;
}

aside h1:hover {
    color: rgb(207, 178, 10);
}

article {
    box-shadow: 0 0 30px rgba(9, 3, 92, 0.296);
    border-radius: 30px;
    padding: 20px;
}

#articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin: 0 5% 50px 5%;
    gap: 50px;
}

#articles h1 {
    font-family: "Raleway";
    font-size: 25px;
    color: black;
}

#articles p {
    font-family: "Open Sans";
}

#articles #description {
    font-size: 16px;
    margin: 0 5% 10px 5%;
    margin-bottom: 30px;
}

#articles a, a:visited, a:active {
    text-decoration: none;
}

#articles #read-more {
    text-decoration: none;
    color: rgb(18, 9, 148);
}

#articles #date {
    font-family: "Raleway";
    margin-bottom: -10px;
}

#articles img {
    width: 100%;
    border-radius: 30px 30px 0 0;
}

@media screen and (max-width: 800px) {

    aside h1 {
        font-size: 25px;
    }

}