#newsletter {
    z-index: -2;
    display: flex;
    flex-direction: column;

    height: 500px;
    background-image: url("../../images/waveBG.gif");
    background-position: center;
    background-size: cover;
    margin-top: -145px;
    padding-bottom: 30px;
}

#darken {
    z-index: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.582), rgba(23, 23, 24, 0.199));
    position: absolute;
    width: 100%;
    height: 525px;
    margin-top: -140px;
    pointer-events:none;
} 

#newsletterText {
    z-index: 1;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 150px;
    font-family: "Open Sans";
    color: #f1f1f1;
    text-align: center;
}

#newsletterText h1 {
    font-size: 34px;
}

#newsletterText h2 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}

#newsletter h3 {
    z-index: 9;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
    font-size: 14px;
    font-family: "Open Sans";
    color: #ffffff;
    text-align: center;
}


#newsletterButton {
    z-index: 99;
}

input[type=email] {
    z-index: 33;
    font-family: "Open Sans";
    margin-left: 28%;
    color: #242424;
    font-size: 18px;
    width: 240px;
    padding: 25px;
    border-radius: 5px;
    border: 0;
}

input[type=submit] {
    z-index: 33 ;
    font-family: "Open Sans";
    margin-left: 20px;
    color: #f3f3f3;
    background-color: #111111;
    font-size: 16px;
    width: 280px;
    padding: 25px;
    margin-top: 20px;
    border-radius: 5px;
    border: 0;
}

::placeholder {
    z-index: 33;
    color: rgba(138, 139, 138, 0.671);
    padding: 5px;
    padding: 0;
    font-size: 16px;
  }

#articles {
    height: 600px;
}